@import '../../styles.scss';

.card-content {
  &__category {
    background-color: $color-yellow;
    padding: 0.4rem 1.2rem;
    border-radius: 0.4rem;
  }

  &__date {
    @include text-preset-3;
  }

  &__title {
    transition: color 0.3s ease;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
      color: $color-yellow;
    }
  }

  &__description {
    @include text-preset-2;
    color: $color-gray-500;
  }
}
